{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visualizar Orçamentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/produto.css' %}">
</head>

<body>
    <header>
        <div class="navbar fixed-top navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand d-flex align-items-center" href="#">WSS-Stock</a>
            </div>
        </div>
    </header>
    <div class="container">
        <h1>Lista de Orçamentos</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data do Orçamento</th>
                </tr>
            </thead>
            <tbody>
                {% for orcamento in page_obj %}
                <tr>
                    <td>{{ orcamento.nome }}</td>
                    <td>{{ orcamento.valor_orcamento }}</td>
                    <td>{{ orcamento.cliente_orcamento }}</td>
                    <td>{{ orcamento.data_orcamento }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primeira</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current-page">{{ page_obj.number }}</span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </span>
        </div>
        <div class="botao">
            <a href="{% url 'cadastrar_orcamento_cliente' %}" class="btn btn-success">Cadastrar Orçamento</a>
            <a class="btn btn-primary" href="{% url 'index' %}">Voltar</a>
        </div>
    </div>
</body>
</html>
