{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro de Orçamento e Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'produto.css' %}">
</head>

<body>
    <header>
        <div class="navbar fixed-top navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand d-flex align-items-center" href="#">WSS-Stock</a>
            </div>
        </div>
    </header>
    <div class="container">
        <form action="{% url 'cadastrar_orcamento_cliente' %}" method="POST">
            <h1>Cadastre seu Orçamento e Cliente</h1>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
            {% csrf_token %}
            <h3>Orçamento</h3>
            <div class="row">
                {% for field in orcamento_form.visible_fields %}
                    {% if field.name != 'cliente_orcamento' %}
                        <div class="col-12 col-lg-12" style="margin-bottom: 10px">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <h3>Cliente</h3>
            <div class="row">
                {% for field in cliente_form.visible_fields %}
                    <div class="col-12 col-lg-12" style="margin-bottom: 10px">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="botao">
                <button type="submit" class="btn btn-success btn-salvar">Cadastrar</button>
                <a class="btn btn-primary" href="{% url 'visualizar_orcamentos' %}">Voltar</a>
            </div>
        </form>
    </div>
</body>

</html>
